# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
DerivedData/
build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# IDEs / editors
.idea/
*.swp
*~
.vscode/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Misc
*.log
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
